CREATE USER IF NOT EXISTS '${USERNAME}'@'%' IDENTIFIED BY '${MYSQL_PASSWORD_SQL}';
ALTER USER '${USERNAME}'@'%' IDENTIFIED BY '${MYSQL_PASSWORD_SQL}';
GRANT ALL PRIVILEGES ON `${USERNAME}\_%`.* TO '${USERNAME}'@'%';
FLUSH PRIVILEGES;
