CREATE USER IF NOT EXISTS '${USERNAME}'@'%' IDENTIFIED BY '${MYSQL_PASSWORD_SQL}';
ALTER USER '${USERNAME}'@'%' IDENTIFIED BY '${MYSQL_PASSWORD_SQL}';
GRANT ALL PRIVILEGES ON `${DB_GRANT_PATTERN}`.* TO '${USERNAME}'@'%';
FLUSH PRIVILEGES;
