CREATE USER IF NOT EXISTS '__USERNAME__'@'%' IDENTIFIED BY '__MYSQL_PASSWORD_SQL__';
ALTER USER '__USERNAME__'@'%' IDENTIFIED BY '__MYSQL_PASSWORD_SQL__';
GRANT ALL PRIVILEGES ON `__USERNAME__\_%`.* TO '__USERNAME__'@'%';
FLUSH PRIVILEGES;
