MYSQL_HOST=${MYSQL_SERVICE}
MYSQL_PORT=3306
MYSQL_DATABASE_PREFIX=${USERNAME}_
MYSQL_USER=${USERNAME}
MYSQL_PASSWORD=${MYSQL_PASSWORD}
DB_HOST=${MYSQL_SERVICE}
DB_PORT=3306
DB_USERNAME=${USERNAME}
DB_PASSWORD=${MYSQL_PASSWORD}
